#preview{
	position:absolute;
	border:1px solid #000;
	background:#333;
	padding:10px;
	font-size: 12px;
	text-align: center;
	width: 300px;
	display:none;
	color:#fff;
	z-index: 10;
	}
	
/* Fancybox Image Gallery */

div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 90;
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('../images/fancybox/fancy_progress.png') no-repeat;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 20px 20px 40px 20px;
    margin: 0;
    background: transparent;
    display: none;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	background: #FFF;
}

div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute;
}

div#fancy_div {
	background: #000;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

div#fancy_close {
	position: absolute;
	top: -12px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('../images/fancybox/fancy_closebox.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none;
}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 0px; 
	height: 100%; 
	width: 35%; 
	cursor: pointer;
	z-index: 111; 
	display: none;
	background-image: url("data:image/gif;base64,AAAA");
	outline: none;
	overflow: hidden;
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

span.fancy_ico {
	position: absolute; 
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112; 
	cursor: pointer;
	display: block;
}

span#fancy_left_ico {
	left: -9999px;
	background: transparent url('../images/fancybox/fancy_left.png') no-repeat;
}

span#fancy_right_ico {
	right: -9999px;
	background: transparent url('../images/fancybox/fancy_right.png') no-repeat;
}

a#fancy_left:hover, a#fancy_right:hover {
	visibility: visible;
	background-color: transparent;
}

a#fancy_left:hover span {
	left: 20px; 
}

a#fancy_right:hover span {
	right: 20px; 
}

#fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

div#fancy_bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}

div#fancy_bg_n {
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_n.png') repeat-x;
}

div#fancy_bg_ne {
	top: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_ne.png') no-repeat;
}

div#fancy_bg_e {
	right: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_e.png') repeat-y;
}

div#fancy_bg_se {
	bottom: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_se.png') no-repeat;
}

div#fancy_bg_s {
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_s.png') repeat-x;
}

div#fancy_bg_sw {
	bottom: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_sw.png') no-repeat;
}

div#fancy_bg_w {
	left: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_w.png') repeat-y;
}

div#fancy_bg_nw {
	top: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('../images/fancybox/fancy_shadow_nw.png') no-repeat;
}

div#fancy_title {
	position: absolute;
	z-index: 100;
	display: none;
}

div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 3px;
	white-space: nowrap;
}

div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title table td {
	padding: 0;
	vertical-align: middle;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url('../images/fancybox/fancy_title_left.png') repeat-x;
}

td#fancy_title_main {
	height: 32px;
	background: transparent url('../images/fancybox/fancy_title_main.png') repeat-x;
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url('../images/fancybox/fancy_title_right.png') repeat-x;
}
.pop {
  position: absolute;
  display: inline;
  }
.pop .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	z-index: 80;}
.pop .pop_toggle {
    background-image: url(../images/cart/arrow_down.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer; }

.active .pop_menu {
  display: block;
  background-color: #ebebeb;
  color: #fff;
  position: absolute;
  padding: .6em;
  width: 12em;
  z-index: 80;}
.active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/cart/arrow_up.png); }
  
/* Links Home */
.home-links{float:left;padding-left:10px;}  
.home-link{position:relative;padding-bottom:4px;}
.home-link .price{position:absolute;right:8px;bottom:16px;color:#fff;}
/*.home-link .price1{background:url(../images/price1.png) no-repeat top left;color:#fed3c2;font-size:16px;padding:7px 5px 7px 7px;text-decoration:line-through;float:left;}
.home-link .price2{background:url(../images/price2.png) no-repeat top right;font-size:16px;padding:0px 7px 7px 7px;font-weight:bold;float:left;}
.home-link .price2 a{padding-left:5px;}
.home-link .price2 a img{border:none;position:relative;top:5px;}*/
.home-link .next{background:url("../images/next.jpg") no-repeat center;display:inline;height:21px;padding-bottom:2px;padding-left:40px;width:21px;}
 
/* Hellos Slide */
#slider-wrapper {position: relative;	margin-bottom: 15px;}
#slider{float:left;width:727px;height:333px;overflow:hidden;} 
#slider li{float:left;width:727px;height:333px;overflow:hidden;z-index:1;} 

/*Featured Products*/
.jcarousel-container {position: relative;}

.jcarousel-clip {z-index: 2;padding: 0;margin: 0;overflow: hidden;position: relative;}
.jcarousel-list {z-index: 1;overflow: hidden;position: relative;top: 0;left: 0;margin: 0;padding: 0;}

.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 247px;
    height: 318px;

}
.jcarousel-list li:hover,
.jcarousel-item:hover {}


/**
	jCarousel - Product Image Slider
	
*/

.products-grid-home{margin-top:15px;}
.jcarousel-next, .jcarousel-prev {z-index: 3;display: none;}
.jcarousel-skin-tango .jcarousel-container {}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 727px;
	height:320px;
	background:#fff;	
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 280px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {height:330px;margin-left:0px;margin-right:0px;width:727px;}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 255px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 328px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
   padding-right: 0px;
   padding-left: 0px;
	
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 15px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal,#nextBtn a { cursor:pointer; height:42px; position:absolute; top:50%; width:40px; background: transparent url(../images/buttons/next-horizontal.png) no-repeat 100% 0;right:-10px; margin-top:-21px; }

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,#nextBtn a:hover {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active, #nextBtn a:active {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal, #prevBtn a {
	background:url("../images/buttons/prev-horizontal.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:40px;position:absolute;top:50%;width:40px;left:-10px; margin-top:-21px;}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, #prevBtn a:hover {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active, #prevBtn a:active {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -80px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
	position: absolute;
    top: 60px;
    left: 17px;
    width: 29px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/buttons/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -42px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -42px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -84px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/buttons/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
#prevBtn a, #nextBtn a{ 
	top:165px !important;
    }